beautifulsoup4==4.14.3
chromadb==1.5.2
crawl4ai==0.8.0
google-news-scraper @ https://github.com/oxylabs/google-news-scraper/archive/refs/heads/main.zip
googlenewsdecoder==0.1.7
openai==2.24.0
pandas==2.3.3
psycopg2-binary==2.9.11
python-dotenv==1.2.2
requests==2.32.5
streamlit==1.55.0
